manifest-{{ image.name }}:
  extends: .manifest
  stage: manifest-{{ image.name }}
  variables:
    IMAGE_NAME: {{ image.name }}
  needs:
{%- for platform in platforms %}
    - build-{{ image.name }}-{{ platform }}
{%- endfor %}

