  test-{{ image.name }}:
    runs-on: ubuntu-latest
    needs:
      - manifest-{{ image.name }}
    steps:
      - uses: actions/checkout@v4
      - uses: astral-sh/setup-uv@v4
      - run: uv sync
      - run: uv run image-manager test {{ image.name }} --snapshot-id "$SNAPSHOT_ID"
